$color-one: white;
$color-two: black;
$color-three: orange;
$font-text: 'Roboto Slab', serif;
$font-header: 'Roboto', sans-serif;
$font-logo: 'Playfair', serif;
/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
head{
    display: none;
}
body {
    margin: 0;
    color:black;
    font-size: 16px;
    line-height: 1.7;
    font-style: $font-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}

section {
    margin: 0;
}

/*header*/

header {
    background-image: url("../images/Background.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}

.navigation {
    text-align:center;
    font-family: $font-header;
    font-weight: 300;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.menu-items ul i {
    display: none;       
}

.menu-items ul li a {
    font-size: 0;
}

.menu-items ul li ul a {
    font-size: 16px;
    font-style: $font-header;
    font-weight: 400;
}

.menu-items ul {
    display: flex;
    list-style-type: none;
}

.navigation .logo a {
    color: gold;
    font-family: $font-logo;
    font-size: 28px;
    font-weight: 700;
}

.home {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 50px 50px 50px;
}

.home-page{
    line-height: 1.2;
    text-align: center;
}

h2 {
    color: $color-one;
    font-size: 42px;
    font-weight: 200;
}

h1 {
    font-family: $font-header;
    color: $color-one;
    font-size: 72px;
    margin: 0;
}

.button {
    display: inline-block;
    min-width: 260px;
    margin: 45px auto 0 auto;
    padding: 22px 0 22px 0;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: none;
    background-position: 100% 0;
    background-size: 300%;
    background-color:gold;
    color: $color-one;
}

/*Services*/

.title {
    text-align: center;
    margin: 0;
    color: grey;
    line-height: 1;
    padding: 100px 50px 0 50px;
}

.section-title {
    color: black;
    font-size: 36px;
    font-weight: 900;
}

.service-item {
    text-align: center;
    font-family: $font-text;
    color: grey;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
    font-style: bold;

}

h4 {
    color: $color-two;
    font-family: $font-header;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
}

.service-item a{
    font-size: 0;
}

.service-item i {
    font-size: 40px;
    color: gold;
    height: 80px;
    border-radius:50%;
    width: 80px;
    border: 4px solid gold;
    text-align: center;
    line-height: 65px;
}

/*Portfolio*/

.portfolio {
    background: whitesmoke;
}

.card {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 20px solid rgba(165, 160, 160, 0.125);
}

.portfolio-photo {
    width: 100%;
    background-color: whitesmoke;
}

.portfolio-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    text-align: center;
    line-height: 1;
    padding: 30px 0 30px 0;
}

.portfolio-info h4 {
    padding: 0;
    margin: 0;
    font-family: $font-header;
}

.portfolio-info h5{
    margin: 0;
    padding: 0;
    font-family: $font-logo;
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

/*Footer*/

.footer ul {
    display: flex;
    margin: 48px 0;
    justify-content: center;
}

.footer-icons {
    margin-right: 35%;
}

.footer li i {
    text-align: center;
    font-size: 25px;
    background: $color-two;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: $color-one;
    border-radius: 50%;
}
.footer li {
    font-size: 0;
    padding: 0 15px 0 0;
 }

 .footer p {
    padding-top: 50px;
    font-style: $font-logo;
    color: rgb(76, 74, 74);
    font-weight: 400;
    font-style: bold;
 }

 /* Media */

@media (max-width: 767px) {

    .home-page{
        text-align: center;
    }
    
    h2 {
        font-size: 24px;
        font-weight: 200;
    }
    
    h1 {
        font-size: 32px;
        margin: 0;
    }

    .button {
        display: inline-block;
        min-width: 160px;
        margin: 45px auto 0 auto;
        padding: 16px 0 16px 0;
        border-radius: 5px;
        font-family: $font-header;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-width: 2px;
        border-style: none;
        background-position: 100% 0;
        background-size: 300%;
        background-color:gold;
        color: $color-one;
    }

    .menu-items ul li i {
        display: block;
        position: relative;
        padding: 0 0 0 80%;
        background: none;
        font-size: 25px;
    }

    .menu-items li ul {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0 0 0 15%;
    }
    
    .menu-items li:hover ul {
        display: block;
        background-color: rgba($color: #9b8585, $alpha: 0.7);
            a {
                font-size: 16px;
                font-family: $font-header;
                font-weight: 300;
            }
       }
       
    .section-title {
        font-size: 32px;
    }
}



   

