$color-one: white;
$color-two: black;
$color-three: orange;
$font-text: 'Roboto Slab', serif;
$font-header: 'Roboto', sans-serif;
$font-logo: 'Cookie', cursive;
/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
head{
    display: none;
}
body {
    margin: 0;
    color:black;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 0;
}

/*header*/

header {
    background-image: url("../images/Background.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}

.navigation {
    text-align:center;
    font-family: $font-header;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}