$color-one: white;
$color-two: black;
$color-three: orange;
$font-text: 'Roboto Slab', serif;
$font-header: 'Roboto', sans-serif;
$font-logo: 'Cookie', cursive;
/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
head{
    display: none;
}
body {
    margin: 0;
    color:black;
    font-size: 16px;
    line-height: 1.7;
    font-style: $font-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 0;
}

/*header*/

header {
    background-image: url("../images/Background.png");
    background-color: rgba($color: #000000, $alpha: 0.7);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}

.navigation {
    text-align:center;
    font-family: $font-header;
    font-weight: 300;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.navigation .logo a {
    color: gold;
    font-family: $font-logo;
    font-size: 24px;
}

.home {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px 0 50px 50px;
}

.home-page{
    line-height: 1.2;
    padding-top: 105px;
    padding-right: 50px;
    text-align: center;
}

h2 {
    color: $color-one;
    font-size: 42px;
    font-weight: 200;
}

h1 {
    font-family: $font-header;
    color: $color-one;
    font-size: 72px;
    margin: 0;
}

.button {
    display: inline-block;
    min-width: 190px;
    margin: 35px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: none;
    background-position: 100% 0;
    background-size: 300%;
    background-color: $color-three;
    color: $color-one;
    font-family: $font-header;
    font-weight: 400;
}

/*Services*/

.title {
    text-align: center;
    margin: 0;
    padding: 100px 0 60px 0;
    color: grey;
    line-height: 1;
}

.section-title {
    color: black;
    font-size: 36px;
    font-weight: 900;
}

.service-items {
    padding: 0 0 100px 30px;
}

.service-item {
    text-align: center;
    font-family: $font-text;
    color: grey;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 300;
    font-style: bold;

}

h4 {
    color: $color-two;
    font-family: $font-header;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    padding-top: 20px;
}

.service-item i {
    background-color: #FFFFFF;
    font-size: 40px;
    color: gold;
    height: 80px;
    border-radius:50%;
    width: 80px;
    border: 4px solid gold;
    text-align: center;
    line-height: 65px;
}